/backend/.gradle
/backend/build/
/backend!gradle/wrapper/gradle-wrapper.jar
/backend/top_spotify_021e61205.csv
/backend/bin/
/frontend/node_modules/
/frontend/dist/
/frontend/e2e/
### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
/out/

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
