<div class="">
    <div class="image-flip">
        <div class="mainflip">
            <div class="frontside" [routerLink]="['/',song.id]">
                <div class="card">

                      <div class="card-header bg-primary">
                        
                    <div class="badge bg-danger rank"><span class="badge-text">{{song.rank}}</span></div><img class="img-fluid" src="/assets/music.png" alt="card image"></div>
                    
                    <div class="card-body text-center bg-danger">
      
                        <h5 class="card-title" style="font-size: 14px;font-weight: 900">{{song.name}}</h5>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>